/*Styling of our pokemon grid */ 

.wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(151, 100px);
    row-gap: 20ch;

  }

  .wrapper .box{
    padding: 10px;
    margin: 20px;
    margin-top: 20px;
    display: grid;
   
   /* box-shadow: 1px 2px 5px rgba(0,0,0,0.5); */
  }


